<ion-header>
  <ion-toolbar>
    <ion-title>Contactos de la Institución</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-label>Tutor:</ion-label>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/persona.png">
        </ion-avatar>

        <ion-label>
          Frank Valdiglesia Quispe

          <h3>Celular</h3>

          <p>963-852-741</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-label>Secretaría:</ion-label>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/mujer.png">
        </ion-avatar>

        <ion-label>
          Rocio Quispe Campos

          <h3>Celular</h3>

          <p>913-581-494</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card class="welcome-card">
      <ion-footer>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/ubi.png">
          </ion-avatar>

          <ion-label>
            Ubicanos en:

            <p>
              Jr Real 757, Distrito de Mala - Cañete
            </p>
          </ion-label>
        </ion-item>
      </ion-footer>
    </ion-card>
  </ion-toolbar>
</ion-footer>