<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:rgb(255, 255, 255)">Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../../assets/cuadernos.png" class="center" />


  <footer>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Seleccione un Bimestre:</ion-label>
      </ion-list-header>
      <ion-button routerLink="/tabs/b1" expand="block" color="secondary">Bimestre 1 </ion-button>
      <ion-button routerLink="/tabs/b2" expand="block" color="secondary">Bimestre 2</ion-button>
      <ion-button routerLink="/tabs/b3" expand="block" color="secondary">Bimestre 3</ion-button>
      <ion-button routerLink="/tabs/b4" expand="block" color="secondary">Bimestre 4</ion-button>
      <ion-button routerLink="/tabs/b5" expand="block" color="secondary">Bimestre 5</ion-button>

    </ion-list>
  </footer>

</ion-content>