<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:rgb(255, 255, 255)">Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-col>
            <b>
              <ion-label>Notas 5:</ion-label>
            </b>
          </ion-col>
          <ion-col>
            <ion-label>{{Notas.BIMESTRE5}}</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>