<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:rgb(255, 255, 255)">ASISTENCIAS:</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">

      <div text-center padding>
        <img src="./../../../assets/nerd.png">
      </div>

      <div class="post" *ngFor="let post of arrayPosts">
        <ion-item>
          <ion-label>


            <ion-button expand="block" size="large">
              <h2>N° DE {{post.CRITERIO}}: {{post.CANTIDAD}}</h2>
            </ion-button>

            <ion-button color="danger" expand="block" size="large">
              <h2>N° DE {{post.CRITERIO}}: {{post.CANTIDAD}}</h2>
            </ion-button>

            <ion-button color="warning" expand="block" size="large">
              <h2>N° DE {{post.CRITERIO}}: {{post.CANTIDAD}}</h2>
            </ion-button>
          </ion-label>
        </ion-item>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>