<ion-header>
    <ion-toolbar color="secondary">
        <ion-title style="color:rgb(255, 255, 255)">Mi Perfil:</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="padding">
    <ion-list *ngFor="let perfil of Perfil">
        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/graduate.png">
            </ion-avatar>
    
            <ion-label>
                Estudiante:      
                <p>{{perfil.NOMPER}} - {{perfil.APEPER}}</p>
            </ion-label>
        </ion-item>
<br>
<ion-item>
    <ion-avatar slot="start">
        <img src="../../../assets/id-card.png">
    </ion-avatar>

    <ion-label>
        DNI:      
        <p>{{perfil.DNIPER}}</p>
    </ion-label>
</ion-item>
            <br>
            <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../../assets/blackboard.png">
                    </ion-avatar>
            
                    <ion-label>
                        Aula:      
                        <p>{{perfil.GRAAUL}} - {{perfil.SECAUL}}</p>
                    </ion-label>
                </ion-item>
    </ion-list>
</ion-content>

<footer>
    <ion-item *ngFor="let perfil of Perfil">
        <ion-avatar slot="start">
            <img src="../../../assets/arian.png">
        </ion-avatar>

        <ion-label>
            Tutor:

            <p>{{perfil.TUTOR}}</p>

            <p>📱 {{perfil.CELULAR}}</p>

            <ion-note>
                <h6>📧 {{perfil.CORREO}}</h6>
            </ion-note>
        </ion-label>
    </ion-item>

    <ion-button
        (click)="showConfirmAlert()"
        expand="full"
        color="danger"
    >
        Cerrar Sesión

        <ion-icon
            name="ios-log-out"
            style="margin-left: 30px;"
        ></ion-icon>
    </ion-button>
</footer>