<ion-header>
  <ion-toolbar color="warning">
    <ion-title style="color:rgb(0, 0, 0)">Desarrolladores:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/persona.png">
        </ion-avatar>
        <ion-label>
          Roberto Borjas Martínez
          <h3>Email:</h3>
          <p>roberto.borjas@vallegrande.edu.pe</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/arian.png">
          </ion-avatar>
          <ion-label>
            Arian Sánchez Nolazco
            <h3>Email:</h3>
            <p>arian.sanchez@vallegrande.edu.pe</p>
          </ion-label>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../../assets/james.jpg">
            </ion-avatar>
            <ion-label>
              James Casas Chacaliaza
              <h3>Email:</h3>
              <p>james.casas@vallegrande.edu.pe</p>
            </ion-label>
          </ion-item>
        </ion-card-header>
      </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card class="welcome-card">
      <ion-footer>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/VG.png">
          </ion-avatar>
          <ion-label>
            <h6>© 2020 Copyright "I.S.T.Pr. Valle Grande"</h6>
          </ion-label>
        </ion-item>
      </ion-footer>
    </ion-card>
  </ion-toolbar>
</ion-footer>



  