<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>-->
    <ion-title>Desarrolladores de la App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="/assets/chico.svg">
      </ion-avatar>
      <ion-card-title>Roberto Borjas Martínez</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="/assets/a.svg">
      </ion-avatar>
      <ion-card-title>James Casas Chacaliaza</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="/assets/hombre.svg">
      </ion-avatar>
      <ion-card-title>Arian Sánchez Nolazco</ion-card-title>
    </ion-card-header>
  </ion-card>








  <button class="button">
    <a href="https://wa.me/51934750266.html" class="button">WhatsApp</a>
  </button>
</ion-content>