.center {

     width: 250px;
     height: 200px;
     position: relative;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     overflow: hidden;
     margin: 0 auto;
     padding: 0;
  
}
