<ion-content>

  <ion-card-header>
    <ion-label>Institución Educativa Privada</ion-label>
    <ion-card-title>FRACTAL</ion-card-title>
    <ion-label>Academia - Colegio</ion-label>
  </ion-card-header>
 <img src="../../../assets/students.png"  class="center"/>



  <ion-list lines="none">
    <ion-list-header>
      <ion-label>¿Qué desea hacer?</ion-label>
    </ion-list-header>

    <ion-button expand="block" color="secondary">Ver Promedio de Notas</ion-button>
    <!-- <ion-button routerLink="/tabs/perfil" expand="block" color="tertiary">Ver Control de Asistencias</ion-button> -->
    <ion-button expand="block" color="danger">Ver Diagrama de Avance</ion-button>
    <ion-button routerLink="/tabs/help" expand="block" color="warning">Enviar una Consulta</ion-button>
    <ion-button routerLink="/tabs/tab2" expand="block" color="medium">Ver Contactos de la Institución</ion-button>
    <ion-button routerLink="/tabs/desarrolladores" expand="block">Desarrolladores</ion-button>

  </ion-list>

</ion-content>