<header>
  <ion-list>
    <ion-item style="align-content: center;">
      <img src="../../assets/Fractal_Login.png" style="height: 100%; width: 70%;" />
    </ion-item>
  </ion-list>
</header>


<ion-content>
  <img src="../../../assets/IconoRB.png" class="center" />


  <footer>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>¿Qué desea hacer?</ion-label>
      </ion-list-header>
      <ion-button routerLink="/tabs/notas" expand="block" color="secondary">Ver Promedio de Notas</ion-button>
      <ion-button routerLink="/tabs/asistencias" expand="block" color="tertiary" color="success">Ver Control de Asistencias</ion-button>
      <ion-button routerLink="/tabs/help" expand="block" color="warning">Enviar una Consulta</ion-button>
      <ion-button routerLink="/tabs/tab2" expand="block" color="medium">Ver Contactos de la Institución</ion-button>
      <ion-button routerLink="/tabs/desarrolladores" color="primary" expand="block">Desarrolladores</ion-button>

    </ion-list>
  </footer>

</ion-content>