<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/notas"></ion-back-button>
          </ion-buttons>
      <ion-title style="color:rgb(255, 255, 255)">PROMEDIO DE NOTAS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list-header>Cursos: </ion-list-header>
  
    <div class="post" *ngFor="let post of arrayPosts">
  
      <ion-item>
        <ion-label>{{post.NOMCUR}}</ion-label>
        <ion-note slot="end">{{post.BIMESTRE3}}</ion-note>
      </ion-item>
    </div>
  
  </ion-content>