<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:rgb(255, 255, 255)">Institución:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-label>Director:</ion-label>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/persona.png">
        </ion-avatar>

        <ion-label>
          Ángel Jesús Coello Oviedo
<p></p>
          <p>💬 940-579-510</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-label>Secretaría:</ion-label>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/mujer.png">
        </ion-avatar>

        <ion-label>
          Rocio Quispe Campos

<p></p>
          <p>💬 913-581-494</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card class="welcome-card">
      <ion-footer>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/ubi.png">
          </ion-avatar>

          <ion-label>
            Ubicanos en:

            <p>
              Jr Real 757, Distrito de Mala - Cañete
            </p>
          </ion-label>
        </ion-item>
      </ion-footer>
    </ion-card>
  </ion-toolbar>
</ion-footer>