<!-- <header>
  <ion-card-header class="item item-trns">
    <ion-label>Institución Educativa Privada</ion-label>
    <ion-card-title>FRACTAL</ion-card-title>
    <ion-label>Academia - Colegio</ion-label>
  </ion-card-header>
</header>
 -->
<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <form [formGroup]="loginForm" #form="ngForm">

        <ion-card>
          <ion-card-header class="item item-trns">
            <ion-card-title>Iniciar Sesión:</ion-card-title>

            <ion-list>

              <ion-item>
                <ion-label position="floating">Usuario:</ion-label>
                <ion-input formControlName="Usuario" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-input formControlName="Contraseña" type="password"></ion-input>
              </ion-item>
              <br>
              <ion-button (click)="login()" [disabled]="!loginForm.valid" expand="block" size="large" color="primary">
                Iniciar Sesión
              </ion-button>
              <br>
              <ion-label>Edooca v. 1.0</ion-label>
             


            </ion-list>
          </ion-card-header>

        </ion-card>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>