<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:rgb(255, 255, 255)">Desarrolladores:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/persona.png">
        </ion-avatar>
        <ion-label>
          Roberto Borjas Martínez
        </ion-label>
        <ion-button (click)="presentAlert()" color="primary">Ver Más</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>




  <ion-card class="welcome-card">
    <ion-card-header size="large">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/arian.png">
        </ion-avatar>
        <ion-label>
          Arian Sánchez Nolazco
        </ion-label>
        <ion-button (click)="presentAlert2()" color="primary">Ver Más</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/james.jpg">
        </ion-avatar>
        <ion-label>
          James Casas Chacaliaza
        </ion-label>
        <ion-button (click)="presentAlert3()" color="primary">Ver Más</ion-button>
      </ion-item>

    </ion-card-header>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card class="welcome-card">
      <ion-footer>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/VG.png">
          </ion-avatar>
          <ion-label>
            <h6>© 2020 "I.E.S.T.Pr. Valle Grande"</h6>
          </ion-label>
        </ion-item>
      </ion-footer>
    </ion-card>
  </ion-toolbar>
</ion-footer>