<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title style="color:rgb(255, 255, 255)">Desarrolladores:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-buttons>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/persona.png">
        </ion-avatar>

        <ion-label>
          Roberto Borjas Martínez

          <p></p>

          <p>💬 +51 998 482 995</p>

          <ion-note>
            <h6>
              📧 roberto.borjas@vallegrande.edu.pe
            </h6>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-buttons>
  </ion-card>

  <ion-item></ion-item>

  <ion-card class="welcome-card">
    <ion-buttons>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/james.jpg">
        </ion-avatar>

        <ion-label>
          James Casas Chacaliaza

          <p></p>

          <p>💬 +51 963 204 251</p>

          <ion-note>
            <h6>
              📧 james.casas@vallegrande.edu.pe
            </h6>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-buttons>
  </ion-card>

  <ion-item></ion-item>

  <ion-card class="welcome-card">
    <ion-buttons>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/arian.png">
        </ion-avatar>

        <ion-label>
          Arian Sánchez Nolazco

          <p></p>

          <p>💬 +51 991 349 383</p>

          <ion-note>
            <h6>
              📧 arian.sanchez@vallegrande.edu.pe
            </h6>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-buttons>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card class="welcome-card">
      <ion-footer>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/VG.png">
          </ion-avatar>

          <ion-label>
            <h6>
              © 2020 "I.E.S.T.Pr. Valle Grande"
            </h6>
          </ion-label>
        </ion-item>
      </ion-footer>
    </ion-card>
  </ion-toolbar>
</ion-footer>