.center {

    width: 200px;
    height: 150px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
 
}
