<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/notas"></ion-back-button>
          </ion-buttons>
      <ion-title style="color:rgb(255, 255, 255)">BIMESTRE IV</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Curso</ion-label>
      <ion-label class="ion-align-items-end">Promedio</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="bookmarks" slot="start"></ion-icon>
      <ion-label slot="start">{{Usuario.NOMCUR}}</ion-label>
      <ion-label slot="end">{{Usuario.BIMESTRE4}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>