<ion-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-label>Institución Educativa Privada</ion-label>
      <ion-card-title>FRACTAL</ion-card-title>
      <ion-label>Academia - Colegio</ion-label>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <form [formGroup]="loginForm" #form="ngForm">

        <ion-card-header>
          <ion-card-title>Iniciar Sesión</ion-card-title>
        </ion-card-header>

        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuario:</ion-label>
            <ion-input formControlName="Usuario" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input formControlName="Contraseña" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="login()" type="reset" [disabled]="!loginForm.valid" shape="round" color="primary"
          >Iniciar Sesión</ion-button>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>