<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/goor.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Bienvenido a FractalApp</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>¿Qué desea hacer?</ion-label>
    </ion-list-header>
    <ion-button routerLink="/tabs/notas" expand="block" color="secondary">Ver Promedio de Notas</ion-button>
    <ion-button routerLink="/tabs/asistencias" expand="block" color="success">Ver Control de Asistencias</ion-button>
    <ion-button routerLink="/tabs/dashboard" expand="block" color="danger">Ver Diagrama de Avance</ion-button>
    <ion-button routerLink="/tabs/help" expand="block" color="warning">Enviar una Consulta</ion-button>
    <ion-button routerLink="/tabs/contactos" expand="block" color="medium">Ver Contactos de la Institución</ion-button>
    <ion-button routerLink="/tabs/nosotros" expand="block" color="tertiary">Desarrolladores</ion-button>

  </ion-list>
</ion-content>