<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <form padding>
                <div text-center padding>
                </div>
                <ion-card>

                    <ion-card-header class="item item-trns">
                        <img src="../../assets/Fractal_Login.png"/>
                        <ion-list>

                            <ion-item>
                                <ion-icon name="contact" slot="start"></ion-icon>
                                <ion-input placeholder="Usuario" autofocus="true" type="text" name="usuario"
                                    [(ngModel)]='usuario' required></ion-input>
                            </ion-item>


                            <ion-item>
                                <ion-icon name="lock" slot="start"></ion-icon>
                                <ion-input placeholder="Contraseña" type="password" name="password"
                                    [(ngModel)]='password' required></ion-input>
                            </ion-item>

                            <ion-button expand="full" (click)="signIn()">
                                Iniciar Sesión
                            </ion-button>
                            <ion-card-subtitle>Edooca</ion-card-subtitle>
                        </ion-list>

                    </ion-card-header>
                </ion-card>
            </form>
        </ion-row>
    </ion-grid>

</ion-content>