<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:rgb(255, 255, 255)">PROMEDIO DE NOTAS:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center padding>
    <img src="./../../../assets/cuadernos.png">
  </div>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Seleccione un Bimestre:</ion-label>
    </ion-list-header>
    <ion-button routerLink="/bimestre1" expand="block" size="large" color="secondary">Bimestre I</ion-button>
    <ion-button routerLink="/bimestre2" expand="block" size="large" color="success">Bimestre II</ion-button>
    <ion-button routerLink="/bimestre3" expand="block" size="large" color="medium">Bimestre III</ion-button>
    <ion-button routerLink="/bimestre4" expand="block" size="large" color="danger">Bimestre IV</ion-button>
    <ion-button routerLink="/bimestre5" expand="block" size="large" color="warning">Bimestre V</ion-button>
  </ion-list>

</ion-content>