<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
          </ion-buttons>
      <ion-title style="color:rgb(255, 255, 255)">PROMEDIO DE NOTAS</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div text-center padding>
    <img src="./../../../assets/cuadernos.png">
  </div>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Seleccione un Bimestre:</ion-label>
    </ion-list-header>
    <ion-button routerLink="/tabs/bimestre1" expand="block" size="large" color="secondary">Bimestre I</ion-button>
    <ion-button routerLink="/tabs/bimestre2" expand="block" size="large" color="success">Bimestre II</ion-button>
    <ion-button routerLink="/tabs/bimestre3" expand="block" size="large" color="medium">Bimestre III</ion-button>
    <ion-button routerLink="/tabs/bimestre4" expand="block" size="large" color="danger">Bimestre IV</ion-button>
    <ion-button routerLink="/tabs/bimestre5" expand="block" size="large" color="warning">Bimestre V</ion-button>
  </ion-list>

</ion-content>